.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 40px 32px 40px 32px;
    background-color: var(--color-neutral-gray-4);
}

.brands>p{
    font: var(--text-mobile-text-1);
    color: var(--color-neutral-gray-1);
}

.brands>.logo-partner>img{
    width: 129px;
    height: 32px;
}

.brands>.logo-partner{
    display: flex;
    justify-content: center;
    gap: 50px;
}