@import url("./global.css");

.future {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    flex-direction: column;
}

.future-break {
    font: var(--text-website-text-1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 120px;
    flex-direction: column;
    gap: 20px;
    color: aliceblue;
}

.future-break h2 {
    font: var(--text-website-title-2);
}

.text-future {
    width: 572px;
    color: var(--color-neutral-gray-1);
}

.card-future {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0a0a0a;
    gap: 20px;
}

.card-future .cards {
    padding: 48px 36px;
    border: solid var(--color-neutral-gray-1);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s;
}

.card-future .cards:hover {
    transform: scale(1.02);
    box-shadow: -1px 1px 20px rgba(191, 255, 174, 0.614);
}

.card-future .cards h3 {
    font: var(--text-website-subtitle);
    color: var(--color-neutral-white);
}

.card-future .cards p {
    font: var(--text-website-text-1);
    color: var(--color-neutral-gray-1);
    text-align: center;
    max-width: 338px;
}

.cards img {
    width: 48px;
    height: 48px;
}
