@import url("./global.css");

/* ---------- HEADER ---------- */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.navegate {
  font: var(--text-website-text-1);
  display: flex;
  gap: 40px;
  transition: 0.3s;
}

.navegate span {
  color: var(--color-neutral-white);
}

.navegate a {
  color: var(--color-neutral-gray-1);
  transition: 0.3s;
}

.navegate a:hover {
  color: var(--color-green);
}

.buttons-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--text-website-text-1);
  gap: 16px;
}

.login {
  color: var(--color-neutral-white);
  transition: 0.5s;
}

.login:hover {
  transform: translateY(-3px);
}

.btn-login {
  padding: 10px 24px;
  border: solid var(--color-green);
  border-radius: 40px;
  background-color: var(--color-green);
  color: var(--color-neutral-gray-4);
  transition: 0.5s;
}

.btn-login:hover {
  transform: translateY(-3px);
}

/* ---------- MAIN ---------- */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 60px 0;
}

.hero .content {
  width: 568px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.hero .content .decentralised {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 24px;
  background: linear-gradient(45deg, #b3b3b3, #4d4d4d);
  padding: 10px 12px;
  gap: 8px;
  overflow: hidden;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(157, 255, 58, 0.5);
  }
  100% {
    transform: scale(1);
  }
}

.hero .content .decentralised::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: 24px;
  background: var(--color-neutral-gray-4);
}

.hero .content .decentralised * {
  z-index: 10;
}

.hero .content .decentralised .circle {
  width: 9px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--color-green);
}

.hero .content .decentralised p {
  font: var(--text-website-text-2);
  color: var(--color-green);
}

.hero .content h1 {
  font: var(--text-website-title-1);
  color: var(--color-neutral-white);
}

.hero .content > p {
  font: var(--text-website-subtitle);
  color: var(--color-neutral-gray-1);
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-container .btn {
  cursor: pointer;
  padding: 14px 24px;
  border-radius: 40px;
  transition: 0.3s ease-in-out;
}

.btn-container .btn-primary {
  background-color: var(--color-green);
  font: var(--text-website-button);
  color: #000;
}

.btn-container .btn-secondary {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  background: linear-gradient(45deg, #b3b3b3, #4d4d4d);
  overflow: hidden;
}

.btn-container .btn-secondary::before {
  content: "";
  position: absolute;
  inset: 1.5px;
  border-radius: 38px;
  background: #000;
}

.btn-container .btn-secondary * {
  z-index: 10;
}

.btn-container .btn-secondary img {
  width: 24px;
  aspect-ratio: 1 / 1;
}

.btn-container .btn-secondary p {
  font: var(--text-website-button);
  color: var(--color-neutral-white);
}

.hero .content .img {
  width: 512px;
  aspect-ratio: 1 / 1;
}

.hero .content .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn:hover {
  transform: translateY(-3px);
}

/* ---------- BRANDS ---------- */
.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px 32px 40px 32px;
  background-color: var(--color-neutral-gray-4);
}

.brands > p {
  font: var(--text-mobile-text-1);
  color: var(--color-neutral-gray-1);
}

.brands > .logo-partner > img {
  width: 129px;
  height: 32px;
}

.brands > .logo-partner {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* ---------- FUTURE BREAKDOWN ---------- */

.future {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  flex-direction: column;
}

.future-break {
  font: var(--text-website-text-1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 120px;
  flex-direction: column;
  gap: 20px;
  color: aliceblue;
}

.future-break h2 {
  font: var(--text-website-title-2);
}

.text-future {
  width: 572px;
  color: var(--color-neutral-gray-1);
}

.card-future {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0a0a0a;
  gap: 20px;
}

.card-future .cards {
  padding: 48px 36px;
  border: solid var(--color-neutral-gray-1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: 0.5s;
}

.card-future .cards:hover {
  transform: scale(1.02);
  box-shadow: -1px 1px 20px rgba(191, 255, 174, 0.614);
}

.card-future .cards h3 {
  font: var(--text-website-subtitle);
  color: var(--color-neutral-white);
}

.card-future .cards p {
  font: var(--text-website-text-1);
  color: var(--color-neutral-gray-1);
  text-align: center;
  max-width: 338px;
}

.card-future .cards img {
  width: 48px;
  height: 48px;
}

/* ---------- STATS ---------- */
.stat {
  padding: 60px 120px 60px 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-neutral-gray-4);
}

.stat > .stat-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.stat-content > h2 {
  text-align: justify;
  color: var(--color-neutral-white);
  font: var(--text-mobile-title-2);
}

.stat-content > .stat-text {
  width: 644px;
  text-align: center;
  font: var(--text-mobile-desc);
  color: var(--color-neutral-gray-1);
}

.stat > .statics {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.stat .statics .statics-values {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stat .statics .statics-values h2 {
  color: var(--color-green);
  font: var(--text-website-title-2);
}

.statics .statics-values p {
  font: var(--text-website-subtitle);
  font-size: 20px;
  color: var(--color-neutral-gray-1);
}

/* ---------- BLOCKCHAIN ---------- */

.blockchain {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.blockchain .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 890px;
  text-align: center;
}

.blockchain .title-container h2 {
  font: var(--text-website-title-2);
  color: var(--color-neutral-white);
  text-transform: capitalize;
}

.blockchain .title-container .subtitle {
  font: var(--text-website-desc);
  color: var(--color-neutral-gray-1);
}

.blockchain .main-content {
  display: flex;
  align-items: center;
  gap: 70px;
}

.blockchain .img {
  width: 506px;
  aspect-ratio: 1 / 1;
}

.blockchain .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blockchain .items-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.blockchain .items-container .card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 624px;
  padding: 30px 20px;
  background: linear-gradient(45deg, #b3b3b3, #4d4d4d);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.blockchain .items-container .card::before {
  position: absolute;
  content: "";
  inset: 1px;
  border-radius: 20px;
  background: var(--color-neutral-gray-4);
}

.blockchain .items-container .card * {
  z-index: 10;
}

.blockchain .items-container .card:hover {
  transform: translateY(-4px);
  box-shadow: -4px 4px 16px rgb(157, 255, 58, 0.4);
}

.blockchain .items-container .card img {
  width: 30px;
  aspect-ratio: 1 / 1;
}

.blockchain .items-container .card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.blockchain .items-container .card .content h3 {
  font: var(--text-website-subtitle);
  color: var(--color-neutral-white);
}

.blockchain .items-container .card .content p {
  font: var(--text-website-text-1);
  color: var(--color-neutral-gray-1);
}

/* ---------- QUESTIONS ---------- */
.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 62px 328.5px;
  gap: 60px;
  background-color: var(--color-neutral-gray-4);
}

.to-common {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.answers h2 {
  font: var(--text-website-title-2);
  color: var(--color-neutral-white);
}

.container-questions {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.text-questions {
  width: 644px;
  font: var(--text-website-desc);
  color: var(--color-neutral-gray-1);
}

.question {
  display: flex;
  border: 1px solid var(--color-neutral-gray-3);
  padding: 16px 20px;
  width: 792px;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.question:hover {
  border: 1px solid var(--color-green);
  transform: translateY(-4px);
}

.question img {
  cursor: pointer;
  width: 13.33;
}

.question p {
  font: var(--text-website-text-1);
  color: var(--color-neutral-white);
}

/* ---------- REVOLUTIONARY ---------- */

.revolutionary {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.revolutionary h2 {
  max-width: 878px;
  font: var(--text-website-title-2);
  color: var(--color-neutral-white);
  text-align: center;
}

.revolutionary .paragraph {
  max-width: 644px;
  font: var(--text-website-desc);
  color: var(--color-neutral-gray-1);
  text-align: center;
}

.revolutionary a {
  padding: 14px 24px;
  background-color: var(--color-green);
  font: var(--text-website-button);
  color: #000;
  transition: 0.3s ease-in-out;
}

.revolutionary a:hover {
  box-shadow: 0 0 32px rgba(156, 255, 58, 0.6);
}

/* ---------- FOOTER ---------- */
footer {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 46px 77px 46px 77px;
  gap: 126px;
}

footer > .left {
  display: flex;
  align-items: flex-start;
  gap: 92px;
  color: #ffff;
}

.left > .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 92px;
}

.container > .quick-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.quick-links > h3 {
  color: var(--color-neutral-white);
  font: var(--text-mobile-subtitle);
}

.quick-links > nav {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

.quick-links > nav > a {
  font: var(--text-mobile-text-2);
  color: var(--color-neutral-gray-1);
}

footer > .right {
  display: flex;
  flex-direction: column;
  color: #ffff;
  gap: 20px;
}

.right > h3 {
  width: 198px;
  font: var(--text-mobile-subtitle);
  color: #d8d8d8;
}

.right > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 212px;
  border-bottom: 1px solid var(--color-neutral-gray-1);
  padding-bottom: 16px;
}

.right > .content > input {
  outline: none;
  font: var(--text-mobile-text-2);
  color: var(--color-neutral-gray-1);
}

.right > .content > img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.content > img:hover {
  transform: scale(1.05);
}
